{{> partials/header }}

<h1 class="mt-3">Add new case</h1>

<form method="POST">
    <label>License plate:</label>
    <input type="text" name="plate" size="10" class="form-control mb-3" value="{{ plate }}">
    <label>Case type:</label>
    <select name="type" class="form-control mb-3">
        <option selected >{{ type }}</option>
        <option value="tire">tire</option>
        <option value="engine">engine</option>
        <option value="circuit">circuit</option>
        <option value="brake">brake</option>
    </select>
    <label>Case detail:</label>
    <textarea rows="7" cols="50" class="form-control mb-3" name="detail">{{ detail }}</textarea>
    <label>receipt number:</label>
    <input type="text" name="receipt" class="form-control mb-3" value="{{ recNumber }}">
    <input type="submit" class="btn btn-primary mb-3" value="Update">
</form>

{{> partials/footer }}